header{
    display: flex;
    justify-content: center;
    position: fixed;
}
.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100dvw;
    background: rgba(32, 30, 30, 0.4);
    backdrop-filter: blur(5px);
    padding: 0.75rem 2rem;
}
.navigation-links{
    width: 50%;
}
.navigation-links ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}
.navigation-links .lin{
    position: relative;
    padding: 0.25rem 0.8rem;
    border-radius: 1vh;
    transform-origin: center;
    transition: 1s;
    z-index: 10;
}

.navigation-links .lin::after{
    z-index: -1;
    transition: 600ms;
    transform-origin: center;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(92deg, rgba(54, 54, 54, 0.19) -16.12%, rgba(218, 218, 218, 0.18) 35.91%, rgba(218, 218, 218, 0.19) 67%, rgba(54, 54, 54, 0.19) 107.97%);
    width: 100%;
    height: 100%;
    transform: scale(0);
    border-radius: 100vh;
    display: block;
}

.navigation-links .lin:hover::after{
    transform: scale(1);
    border-radius: 1vh;
}

.register{
    background: #1db21d;
}
.register:hover{
    background: #36ad36;
}
.bi{
    display: none;
}

@media screen and (max-width:768px){
    .navigation-links{
        display: none;
    }
    .navigation-links-active{
        height: 100dvh;
        width: 100dvw;
        background: #c8c8c8;
        opacity: 0.85;
        filter: blur(0.5);
    }
    .bi{
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 25px;
    }
    .bi-active{
        display: block;
    }
}