.hero-bg{
    background: url('/images/hero.png');
    background-size: cover;
    height: 100dvh;
    width: 100dvw;
}

.hero{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right{
    padding: 3rem;
}
.timer{
    padding: 0em 0em 0em;
    width: fit-content;
}

.timer h4{
    line-height: 0;
    font-size: clamp(1rem,3vw,1.5rem);
    width: fit-content;
}

.clock{
    font-size: clamp(0.5rem,2vw,1.1rem);
    width: fit-content;
}

.digit{
    font-size: clamp(1.7rem,5vw,4.5rem);
    font-weight: bold;
}

.title{
    width: fit-content;
}

.title h1{
    font-family: 'hanson';
    margin-bottom: 0;
    padding-bottom: 0;
    color: transparent;

    font-size: clamp(2rem,6vw,4.5rem);

    background-image: url("images/g.png");
    background-size: contain;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.title h2{
    text-align: right;
    line-height: 0.1;
    font-weight: bold;
    color:#5B5B5B;
}
.about-bg-text
{
    color: rgba(255, 255, 255, 0.03);
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
font-family: Montserrat;
font-size: clamp(9rem,32dvw,60rem);
font-style: normal;
font-weight: 600;
line-height: 30px; /* 6.494% */
letter-spacing: -10px;
}  

@media(max-width: 768px){
    .right{
        display: none;
    }
    .about-bg-text
    {
        display: none;
    }
}
.circle_box div
{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color:rgba(195, 23, 23, 0.76);
    filter: blur(250px); 
    opacity: 90%;
    margin: 10px auto;
    
}
.circle_box div:nth-child(2)
{
    background-color: rgba(48, 23, 195, 0.76);
}
.circle_box div:nth-child(3)
{
    background-color: rgba(27, 93, 86, 0.76);
}
.circle_box div:nth-child(4)
{
    background-color: rgba(26, 83, 35, 0.76);
}
.circle_box div:nth-child(5)
{
    background-color: rgba(148, 114, 27, 0.76);
}
.circle_box div:nth-child(6)
{
    background-color: rgba(48, 23, 195, 0.76);
}
.full-height {
    height: fit-content;
  }
  
  .row.full-height {
    height:fit-content;
  }
 .previous-head
 {
    margin-left:3rem;
    opacity: 40%;
    filter: blur(.05rem);
 }
 .blur-layer
 {
    width:100dvw;height:120dvh;
    background: rgba(255, 255, 255, 0.01);
    filter: blur(35px);
 }
 .previous-head
 {
    filter: blur(.05rem);
 }