* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    --clr-primary:#000;
}

a{
    text-decoration: none;
    color: aliceblue;
}

ul{
    list-style: none;
}

h1{
    font-size: clamp(2rem,4vw,6rem);
}

.section{
    padding: 0rem 4rem;
}